body{
  font: normal 15pt arial;
  margin: 0;
  padding: 0;
}

header{
  height: 50px;
  width: 100%;
  box-shadow: 0px 5px 10px;
  position: sticky;
}

header h1{
  text-align: center;
  padding-top: 5px;
}

#headthingy{
  background: lightgray;
  height: 30px;
  width: 100%;
}

section{
  background: white;
  padding: 15px;
  width: 1200px;
  margin: auto;
}

footer{
  color: lightgray;
}
